*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
footer
{
  background-color: var(--primary-light-blue);
  min-height: 30px;
}
