<p>address works!</p>
    <!-- Start Address section -->

 <div class="address-section">
      <h4 class="title mb-5">addrees information</h4>

      <div class="item-container">
        <div class="mb-3">
          <p class="title-item">street</p>
          <input type="text" />
        </div>
        <div class="mb-3">
          <p class="title-item">district</p>
          <input type="text" />
        </div>
        <div class="mb-3">
          <p class="title-item">city</p>
          <input type="text" />
        </div>
        <div class="mb-3">
          <p class="title-item">postal code</p>
          <input type="text" />
        </div>
        <div class="mb-3">
          <p class="title-item">country</p>
          <input type="text" />
        </div>
        <div class="mb-3">
          <p class="title-item">phobe</p>
          <input type="text" />
          <p class="phone-text">
            Your phone number will stay private and won&#39;t be visible to
            other users for your security.
          </p>
        </div>
      </div>
    </div>

    <!-- End Address section -->
