<div class="nav bg-light">
  <nav class="px-4 d-flex w-100 justify-content-between align-items-center">
    <div class="title px-2 d-flex align-items-center">
      <a href="" class="title-link">ToolLendify</a>
    </div>
    <div class="right-side d-flex align-items-center">
      <button type="button" class="btn-add btn btn-light">Add New</button>
      <input
        class="search form-control mr-sm-2 mx-2 bg-light"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />

      <img
        class="profile-img mx-1"
        src="../../../../assets/images/toolBoy.png"
        alt=""
      />
      <p class="name">Hamza Shrehe</p>

      <div class="dropdown mx-2">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenu2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" type="button">Action</button></li>
          <li>
            <button class="dropdown-item" type="button">Settign</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">
              Log out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
