* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container .header {
  position: sticky;
  top: 0;
}
.side-bar {
  background-color: #f4f5f7;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
}

