*{
  padding: 0;
  margin: 0;
}

.container ul {
  list-style: none;
}

.container ul li{
  background-color: var(--primary-base-color);
  /* padding: ; */
}

.container ul img {
  width: 45px;
  border-radius: 50%;
}

.container ul li .info .address{
  font-size: 13px;
}

.error-message {
  color: red;
  font-weight: bold;
}


