* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
main {
  min-height: calc(100vh - 90px) ;
  padding: 30px;
}
main .title{
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
}
main .item-container{
  margin-bottom: 20px;
}
main .item-container .label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
  text-transform: capitalize;
   display: block;
}
main .item-container input{
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: all .3s ease;
  caret-color: var(--primary-medium-blue);
}
main .item-container input:hover,
main .item-container input:focus{
  border-color: #008cba;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 140, 186, .3);
}
main .item-container .phone-text{
  font-size: .9rem;
  color: #555;
  margin-top: 5px;
  line-height: 1.4;
}
main .btn-cancel,
main .btn-back,
main .btn-continue {
  border-radius: 5px;
  padding: 4px 12px;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
}

main .btn-cancel {
  background-color: #d9534f;
  color: #fff;
  border: 1px solid #d9534f;
}


main .btn-back {
  background-color: #008cba;
  color: #fff;
  border: 1px solid #008cba;
}


main .btn-cancel:hover {
  background-color: #f7c6c6;
  color: #d9534f;
}

main .btn-continue {
  margin-left: 5px;
  background-color: white;
  color: #008cba;
  border: 1px solid #008cba;
}
main .btn-back:hover {
  background-color: #d6e8fa;
  color: #008cba;
}
main .btn-continue:hover {
  background-color: #d6e8fa;
  color: #008cba;
}

@media (max-width: 768px) {
  main {
    padding: 15px;
  }

  main h4.title {
    font-size: 1.3rem;
  }

  main .item-container input[type="text"] {
    font-size: 0.9rem;
    padding: 8px;
  }
}
