<main>
  <!-- Start Address section -->
  <div class="address-section">
    <h4 class="title">contact information</h4>

    <div class="item-container">
      <label class="label" for="street">street</label>

      <input type="text" id="street" name="street" [(ngModel)]="contactInfo.address"/>
    </div>


    <div class="item-container">
      <label class="label" for="phone">phone</label>
      <input type="text" id="phone" name="phone" [(ngModel)]="contactInfo.phone"/>
      <p class="phone-text">
        Your phone number will stay private and won&#39;t be visible to other
        users for your security.
      </p>
    </div>

    <div class="mt-5 d-flex justify-content-between w-50">
      <button class="btn-cancel">cancel</button>
      <div>
        <button class="btn-back" (click)="backToolInfoPage()">back</button>
        <button class="btn-continue" (click)="navigateReviewPage()">continue</button>
      </div>
    </div>
  </div>

  <!-- End Address section -->
</main>
