<main>
  <!-- Start Address section -->
  <div class="address-section">
    <h4 class="title">addrees information</h4>

    <div class="item-container">
      <label class="label" for="street">street</label>

      <input type="text" id="street" name="street" />
    </div>

    <div class="item-container">
      <label class="label" for="district">district</label>

      <input type="text" id="district" name="district" />
    </div>

    <div class="item-container">
      <label class="label" for="city">city</label>
      <input type="text" id="city" name="city" />
    </div>

    <div class="item-container">
      <label class="label" for="postal-code">postal code</label>
      <input type="text" id="postal-code" name="postal-code" />
    </div>

    <div class="item-container">
      <label class="label" for="country">country</label>
      <input type="text" id="country" name="country" />
    </div>

    <div class="item-container">
      <label class="label" for="phone">phone</label>
      <input type="text" id="phone" name="phone" />
      <p class="phone-text">
        Your phone number will stay private and won&#39;t be visible to other
        users for your security.
      </p>
    </div>

    <div class="mt-5 d-flex justify-content-between w-50">
      <button class="btn-cancel">cancel</button>
      <div>
        <button class="btn-back">back</button>
        <button class="btn-continue">continue</button>
      </div>
    </div>
  </div>

  <!-- End Address section -->
</main>
