<div class="container d-flex  ms-0 me-0">
  <aside class="p-5">
    <a href="" class="d-block mb-2">tool information</a>
    <a href="" class="d-block mb-2">address information</a>
    <a href="" class="d-block mb-2">review</a>
  </aside>
  <main class="flex-grow-1 px-5 py-3">
    <h4 class="title mb-5">product information</h4>

    <!-- Start img container -->
    <div class="item-container">
      <p class="title-item">image</p>
      <div class="img-container w-50">
        <i class="fa fa-upload d-block"></i>
        <button class=""><span>click</span> to upload</button>
        <p class="d-inline">or drag and drop</p>
        <p class="">
          <span>pdf, jpg, jpeg, png,</span> less than <span>5mb.</span>
        </p>
      </div>
    </div>
    <!-- End img container -->

    <!-- Start Name container -->
    <div class="item-container">
      <p class="title-item">name</p>
      <input type="text" placeholder="Name tool" class="name w-50" />
    </div>
    <!-- End Name container -->

    <!-- Start description -->
    <div class="item-container">
      <p class="title-item">description</p>
      <textarea
        name=""
        id=""
        placeholder="Description tool"
        class="w-50"
      ></textarea>
    </div>
    <!-- End description -->

    <!-- Start salary container -->
    <div class="item-container slary-model d-flex justify-content-between w-50">
      <div>
        <p class="title-item">price <span> per day</span></p>
        <input type="text" />
      </div>
      <div>
        <p class="title-item">model</p>
        <input type="text" />
      </div>
    </div>

    <div class="item-container">
      <p class="title-item">category</p>
      <!-- <mat-form-field >
        <mat-label class="cat-container">Select</mat-label>
        <mat-select class="cat-option">
          <mat-option  value="one">First option</mat-option>
          <mat-option  value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field> -->

      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let category of categories; let i = index">
      {{ category.name }}
    </li>
    <li>



  </ul>
</div>
    </div>
    <!-- End salary container -->
  </main>
</div>
