/* You can add global styles to this file, and also import other style files */

:root {
  --primary-light-blue: #d8e5f9;
  --primary-medium-blue: #09abdc;
  --primary-dark-blue: #0367a2;
  /* --primary-blue: #008cba; */
  --primary-base-color: #f0f2f5;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
